[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Muratkhan
	email = m_otynbay@kbtu.kz
[init]
	defaultBranch = main
[core]
	autocrlf = input
	safecrlf = warn
